<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cortex</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <h1>Cortex</h1>
    <form action="/search" method="get">
        <input type="text" name="q" placeholder="Search..." required>
    </form>

    <script>
        const form = document.querySelector("form");
        form.addEventListener('submit', function (e) {
            const searchQuery = form.querySelector('input[name="q"]').value.trim();
            if (!searchQuery) {
                e.preventDefault();
            }
        });
    </script>
</body>

</html>
